@model Web.Models.Announcements.AnnouncementIndexModel

<div class="d-flex justify-content-end">
    <a class="btn btn-success" asp-area="" asp-controller="Announcement" asp-action="Create">Create</a>
</div>
<table class="table mt-2">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Body</th>
        <th scope="col">Created By</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var announcement in Model.Announcements)
    {
        <tr>
            <td>@announcement.Body</td>
            <td>@announcement.User.UserName</td>
            <td>
                <a class="nav-link" asp-area="" asp-controller="Announcement" asp-action="Edit" asp-route-announcementId="@announcement.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>