@using Humanizer
@model Web.Models.HomeIndexModel


<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                @foreach (var announcement in Model.Announcements)
                {
                    <div>
                        <h5>@announcement.Category.Name</h5>
                        <p>@announcement.Body</p>

                        <div class="d-flex justify-content-between">
                            <span class="text-info">@announcement.User.UserName.Split("@").First()</span>
                            <span class="text-black-50">@announcement.PublishedAt.Humanize()</span>
                        </div>
                        @if (announcement.Id != Model.Announcements.Last().Id)
                        {
                            <hr/>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                Hello world
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                Hello world
            </div>
        </div>
    </div>
</div>