@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <h5>Architecture Update 🔥</h5>
                    <p>Added Direct-Wifi Alternative to Peer-to-peer client discovery</p>

                    <div class="d-flex justify-content-between">
                        <span class="text-info">Architects</span>
                        <span class="text-black-50">15 hours ago</span>
                    </div>
                    <hr/>
                </div>
                <div>
                    <h5>Research 📖</h5>
                    <p>Added postgresql to distrubted database research paper, it looks like a good canidate!</p>

                    <div class="d-flex justify-content-between">
                        <span class="text-info">Research Papers</span>
                        <span class="text-black-50">2 days ago</span>
                    </div>
                    <hr/>
                </div>

                <div>
                    <h5>Architecture Update 🔥</h5>
                    <p>Added Direct-Wifi Alternative to Peer-to-peer client discovery</p>

                    <div class="d-flex justify-content-between">
                        <span class="text-info">Architects</span>
                        <span class="text-black-50">15 hours ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                Hello world
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                Hello world
            </div>
        </div>
    </div>
</div>